<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.hudbert.bruno.cours">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".interactioncomponents.ActivityInteractionComponentsActionBar"></activity>
        <activity android:name=".interactioncomponents.ActivityInteractionComponentsNavigationDrawer" />
        <activity android:name=".interactioncomponents.ActivityInteractionComponentsCardViews" />
        <activity android:name=".interactioncomponents.ActivityInteractionComponentsRecyclerView" />
        <activity android:name=".interactioncomponents.ActivityInteractionComponentsLists" />
        <activity android:name=".interactions.ActivityWithExplicitIntent" />
        <activity android:name=".interactions.ActivityWithExplicitIntentAndExtra" />
        <activity android:name=".interactions.MainActivityInteractions" />
        <activity android:name=".geolocalisation.MainActivityGeolocalisation" />
        <activity android:name=".webviews.MainActivityWebViews" />
        <activity android:name=".room.MainActivityRoom" />
        <activity android:name=".broadcastservices.MainActivityBroadcastServices" />
        <activity android:name=".webservices.MainActivityWebServices" />
        <activity android:name=".asynchronestasks.MainActivityAsynchroneTask" />
        <activity android:name=".interactioncomponents.MainActivityInteractionComponents" />
        <activity android:name=".persistence.MainActivityPersistence" />
        <activity android:name=".layouts.MainActivityLayouts" />
        <activity android:name=".layouts.ActivityWithMixedLayouts" />
        <activity
            android:name=".persistence.SaveInDatabase"
            android:exported="true" />
        <activity
            android:name=".persistence.SaveInFile"
            android:exported="true" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>